

{% extends "test.html" %}
{% block checking %}
{% load custom_filters %}

<div>
  
  {% if result <= 0.7 %}
  <div class = "result" id = "false">This News seems to be Fake with Similarity Score of {{ result|multiply_and_round:"100,2" }}% &nbsp; <svg class="inline-block tick h-10 w-10 text-red-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <rect x="3" y="3" width="18" height="18" rx="2" ry="2" />  <line x1="9" y1="9" x2="15" y2="15" />  <line x1="15" y1="9" x2="9" y2="15" /></svg></div>
  {% elif result > 0.7 %}
  <div class = "result" id = "true">This News seems to be Real with Similarity Score of {{result|multiply_and_round:"100,2"}}%&nbsp; <svg class="tick inline-block h-10 w-10 text-green-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <polyline points="9 11 12 14 22 4" />  <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11" /></svg></div>
  {% elif result == "Sorry, There is not a single related news articles!" %}
  <div class = "result" id = "false">Sorry, There is not a single related news articles! &nbsp; <svg class="inline-block tick h-10 w-10 text-red-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <rect x="3" y="3" width="18" height="18" rx="2" ry="2" />  <line x1="9" y1="9" x2="15" y2="15" />  <line x1="15" y1="9" x2="9" y2="15" /></svg></div>
  {% else %}

  {% endif %}

  
  <div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Related Articles</th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Read Here</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              
              {% for article, link1 in zipped_list %}
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">{{article}}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                    <a href="{{ link1 }}" target="_blank">Link</a>
                  </td>
                  
                </tr>
              {% endfor %}
                
              
              
  
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

            
  



{% endblock checking %}

