
{% extends "base.html" %}
{% block title %}Test Page{% endblock title %}
{% block body %}

<form method = "POST" action="">
  {% csrf_token %}

<div class="relative w-64 option">
  <p class = "text-xl mb-2"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Select a model: </p>
  <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline mb-5" name = "model" >
    <option value="BERT" {% if model_selected == "BERT" %}selected{% endif %}>BERT</option>

    <option value ="LSTM" {% if model_selected == "LSTM" %}selected{% endif %}>LSTM</option>

    <option value ="Logistic Regression" {% if model_selected == "Logistic Regression" %}selected{% endif %}>Logistic Regression</option> 

    <option value ="SVM" {% if model_selected == "SVM" %}selected{% endif %}>SVM</option>

    <option value ="Real-Time Checking" {% if model_selected == "Real-Time Checking" %}selected{% endif %}>Real-Time Checking</option>
    
  </select>
  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
    
  </div>
</div>

<div class="flex items-center py-2 news">
<p class="text-xl mb-2">Enter News:</p>
<textarea placeholder = "Enter your News" name = "news" id = "textarea">{{news}}</textarea>
    <br><br>
    <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-l border-4 text-white py-1 px-2 rounded" type="submit">
      Check
    </button>

</div>

</form>
{% block checking %}

{% endblock checking %}
{% endblock body %}


