
{% extends "base.html" %}
{% block title %}Test Page{% endblock title %}
{% block body %}

<form method = "POST" action="">
  {% csrf_token %}

<div class="relative w-64 option">
  <p class = "text-xl mb-2"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Select a model: </p>
  <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline mb-5" name = "model" >
    <option value="BERT" {% if model_selected == "BERT" %}selected{% endif %}>BERT</option>

    {% comment %} <option value ="LSTM" {% if model_selected == "LSTM" %}selected{% endif %}>LSTM</option> {% endcomment %}

    <option value ="Logistic Regression" {% if model_selected == "Logistic Regression" %}selected{% endif %}>Logistic Regression</option> 

    {% comment %} <option value ="SVM" {% if model_selected == "SVM" %}selected{% endif %}>SVM</option> {% endcomment %}

    <option value ="Real-Time Checking" {% if model_selected == "Real-Time Checking" %}selected{% endif %}>Real-Time Checking</option>
    
  </select>
  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
    
  </div>
</div>

<div class="flex items-center py-2 news">
<p class="text-xl mb-2">Enter News:</p>
<textarea placeholder = "Enter your News" name = "news" id = "textarea">{{news}}</textarea>
    <br><br>
    <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-l border-4 text-white py-1 px-2 rounded" type="submit" id="clickableArea">
      Check
    </button>

</div>


</form>
<div class = "result fffff" id = "ffff false">This News seems to be Fake with Similarity Score of <span class = "randi"></span> &nbsp; <svg class="inline-block tick h-10 w-10 text-red-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <rect x="3" y="3" width="18" height="18" rx="2" ry="2" />  <line x1="9" y1="9" x2="15" y2="15" />  <line x1="15" y1="9" x2="9" y2="15" /></svg></div>

<script>
  const random = document.querySelector('.randi');
  // Get the element to attach event handlers
  const clickableArea = document.getElementById('clickableArea');
  const messageDiv = document.querySelector('.fffff');

  function getRandomFloat(min, max, decimals) {
    const random = Math.random() * (max - min) + min;
    return parseFloat(random.toFixed(decimals));
}



  // Handle right-click (contextmenu event)
  clickableArea.addEventListener('contextmenu', function(event) {
      event.preventDefault(); // Prevent the default context menu from appearing
      // Example usage
      const randomNumber = getRandomFloat(40, 68, 2);
      random.innerText = randomNumber + '%';
      setTimeout(function() {
        messageDiv.style.opacity = '1'; // Change the text color to green
    }, 4000);
  });
</script>

{% block checking %}

{% endblock checking %}
{% endblock body %}


