Django==5.0.6
gensim==4.3.2
matplotlib==3.7.5
nltk==3.8.1
numpy
pandas
preprocess-kgptalkie @ git+https://github.com/laxmimerit/preprocess_kgptalkie.git@96bf02872d9756f29d6cddb8aafaedcd2a39bbb4
pycaret==3.3.2
scikit_learn==1.4.2
seaborn==0.13.2
tensorflow==2.14.0
intel-tensorflow==2.14.0
torch
transformers==4.41.2
wordcloud==1.9.3
